/* display bracket span */
.bracket:before {
    content: "(";
    margin-left: 6px;
}
.bracket:after {
    content: ")";
    margin-right: 6px;
}

/* touch for numbers */
.number-touch {}

/*style with expressions */
.current-main-expression {
    display: block;
    border: 2px black solid;
}
.previous-main-expression {}
.prev-exp{
    display: block;
}